backcall==0.2.0
blis==0.4.1
catalogue==2.0.6
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.6
click==8.0.1
cloudpickle==2.0.0
colorama==0.4.4
cycler==0.10.0
cymem==2.0.5
Cython==0.29.24
cytoolz==0.9.0.1
dataclasses==0.6
decorator==4.4.2
dill==0.2.9
editdistance==0.5.3
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
errant==2.3.0
faiss-gpu==1.7.1.post2
filelock==3.0.12
ftfy==4.4.3
future==0.18.2
headers-workaround==0.18
html5lib==1.1
idna==3.2
imageio==2.9.0
imageio-ffmpeg==0.4.5
importlib-metadata==4.8.1
install==1.3.4
ipython==7.27.0
jedi==0.18.0
Jinja2==3.0.2
joblib==1.0.1
jsonpickle==2.0.0
jsonschema==2.6.0
kiwisolver==1.3.2
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
more-itertools==8.10.0
moviepy==1.0.3
msgpack==0.6.2
msgpack-numpy==0.4.7.1
msgpack-python==0.5.6
murmurhash==1.0.5
music21==7.1.0
numpy==1.21.2
packaging==21.0
pandas==1.3.4
parso==0.8.2
pathlib==1.0.1
pathy==0.6.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.2
plac==0.9.6
portalocker==2.3.2
preshed==3.0.5
proglog==0.1.9
prompt-toolkit==3.0.20
ptyprocess==0.7.0
pycparser==2.20
pydantic==1.8.2
Pygments==2.10.0
pyparsing==2.4.7
python-dateutil==2.8.2
python-Levenshtein==0.12.2
pytz==2021.3
regex==2017.4.5
requests==2.26.0
sacrebleu==2.0.0
sacremoses==0.0.45
scipy==1.7.1
sentencepiece==0.1.96
six==1.16.0
smart-open==5.2.1
spacy==2.2.0
spacy-legacy==3.0.8
srsly==1.0.5
submitit==1.3.3
subword-nmt @ https://github.com/rsennrich/subword-nmt/archive/master.zip
tabulate==0.8.9
termcolor==1.1.0
thinc==7.1.1
tokenizers==0.8.1rc1
toolz==0.11.1
torch==1.8.1
torchaudio==0.8.1
torchvision==0.9.1
tqdm==4.62.2
traitlets==5.1.0
transformers==3.0.2
typer==0.4.0
typing-extensions==3.10.0.2
ujson==4.2.0
urllib3==1.26.7
wasabi==0.8.2
wcwidth==0.2.5
webcolors==1.11.1
webencodings==0.5.1
wrapt==1.10.11
zipp==3.5.0
